<li class="nav-item">
  <%= link_to "お気に入り", user_path, {id: "okiniiri", class: "nav-link", remote: true} %>
  <!-- <div id="okiniiri" class="nav-link" data-toggle="tab"></div> -->
  <!-- <a href="#okiniiri" class="nav-link" data-toggle="tab">お気に入り</a> -->
</li>
