<head>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

</head>

  <div class="top-page-container">
<h1>みんなの投稿</h1>
    <!-- Page Features -->
    <div class="row text-center">

    <% @jiros.each do |jiro| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <%= link_to jiro, class: "card h-100" do %>
          <%= image_tag jiro.picture.url, :size => '245x200' %>
          <div class="card-body">
            <h4 class="card-title">
              <% if jiro.store_id %>
                <%= Store.find_by_id(jiro.store_id)&.name %>
              <% else %>
                <%= "店舗情報なし" %>
              <% end %>
            </h4>
          </div>
          <div class="card-footer">
            <i class="far fa-heart like-btn"></i>
          </div>
          <% end %>
        </div>
    <% end %>
  </div>

  <div class="row text-center">
      <ul class="pagination pagination-lg">
              <li class="page-item disabled">
                <a class="page-link" href="#">«</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">»</a>
              </li>
            </ul>
  </div>


  </div>
