<div class="table-container">
  <table>
    <tr>
      <th>投稿者</th>
      <td>データ</td>
    </tr>
    <tr>
      <th>店舗</th>
      <td>データ</td>
    </tr>
    <tr>
      <th>天気</th>
      <td>データ</td>
    </tr>
    <tr>
      <th>行った日</th>
      <td>データ</td>
    </tr>
    <tr>
      <th>並び時間</th>
      <td>データ</td>
    </tr>
    <tr>
      <th>コール</th>
      <td>データ</td>
    </tr>
    <tr>
      <th>豚</th>
      <td>データ</td>
    </tr>
    <tr>
      <th>スープ</th>
      <td>データ</td>
    </tr>
    <tr>
      <th>その他</th>
      <td>データ</td>
  </table>
