/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


body {
  padding-top: 56px;
}

.navbar-brand{
  font-size: 30px;
}

.navbar-dark .navbar-brand {
  color: #000000;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}

.bg-dark {
  background-color: #fed500 !important;
}

.row{
  margin-top: 40px;
}

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080;
  margin-left: 0px;
  float: left;
}

.card-title {
  margin-bottom: 0px;
  padding: 15px;
}

.card-body {
  padding: 0px;
}

.card-footer {
  background-color: white;
  border-top: 0px;
}

.text-white {
  color: #000000 !important;
}

.pagination{
  margin-left: auto;
  margin-right: auto;
}

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}


table{
  width: 50%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 30px auto;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #eee
}

/* ユーザー詳細画面 */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2.3em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.btn.btn-primary.btn-outline-primary.btn-round {
  float: right;
}

hr {
  margin-bottom: 0;
}

.col-md-4.select-bar {
  text-align: center;
}

.row.select-bar{
  margin-top: 5px;
}

.tab-content {
  margin-top: 40px;
}

//プロフ編集画面
.profile_edit_img {
  margin: 0 auto;
  display: block;
}

// footer
footer{
  margin-top: 30px;
}
